@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
}
.h-custom {
height: calc(100% - 73px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scrollbars */
}

body {
  background-image: url("/public/Skyline\ -\ Copy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.container-absolute {
  height: 100%; /* Set the height of the container to 100% */
  width: 100%; /* Set the width of the container to 100% */
  position: absolute; /* Position the container absolutely */
  top: 0;
  left: 0;
  overflow: auto; /* Enable scrolling within the container if needed */
}

  .input-container {
  display: flex;
}

.input-field {
  flex: 1;
  width: 100%;
  padding: 10px;
  outline: none;
  border-radius: 0 10px 10px 0;
  border: solid 2px;
}

.icon {
  padding: 15px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  min-width: 50px;
  text-align: center;
  border-radius: 5px;
}


.rounded-image{
  border-radius: 10px;
}

@media (max-width: 480px) {
  .h-custom {
    height: 100%;
  }
}
