@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
}
.h-custom {
height: calc(100% - 73px);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body
{
   background-image: url("/public/Skyline\ -\ Copy.jpg");
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.input-container {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 20px;
    
  }
  
.input-field {
  flex: 1;
  width: 100%;
  padding: 1px;
  outline: none;
  border-radius: 5 50px 50px 0;
  border: solid 2px;
}

.icon {
  padding: 1px;
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  min-width: 50px;
  text-align: center;
  border-radius: 5px;
}


.rounded-image{
  border-radius: 10px;
}

@media (max-width: 480px) {
  .h-custom {
    height: 100%;
  }
}
#loginbtnimg
{
  border-radius: 20%;
}